body{
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: red;
    width: 400px;
    border-radius: 1rem;
    background-color: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    
}
.main-content{
    background-color: blue;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    background-color: #121212;
}
.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.3125rem;
    background-color: black;
}

.nav{
    height: 100px;
    border-radius: 1rem;
    background-color: #121212;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    transition: all 0.5s ease;
}
.nav-option:hover{
    opacity: 1;
    font-size: 1.25rem;
    color: #1DB954;
    text-decoration: underline;
}
.nav-option a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option i{
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    
}
.library{
    border-radius: 1rem;
    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.lib-option{
    line-height: 2.5rem;
    opacity: 0.7;
}
.lib-option a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}
.lib-option i{
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    transition: all 0.5s ease;
    
}
.lib-option a:hover{
    opacity: 1;
    font-size: 1.25rem;
    color: #1DB954;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease;
}
.icon1{
    padding: 0.5rem;
}
.icon2{
    padding: 0.5rem;
}
.lib-option a{
    font-weight: 600;
    font-size: 1.25rem;
}
.icons i:hover{
    opacity: 1;
    font-size: 1.35rem;
}
.box-p2{
    opacity: 0.85;
    font-size: 0.9rem;
}
.badge{
    border: none;
    border-radius: 100px; 
    background-color: white;
    padding: 0.45rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    transform: scale(1);
    transition: all 0.25s ease;
}
.badge:hover{
    background-color: #1DB954;
    transform: scale(1.1);
    border: 2px solid black;

}
.box{
    background-color: #232323;
    padding: 0.25rem 1rem 1rem 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
}
.box-p1{
    font-weight: 600;
    font-size: 1.25rem;
}

/* Sticky nav */

.sticky-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-left: 2rem;
    background-color: #121212;
    position:sticky;
}
.sticky-btn{
    margin: 0 1rem;
}

.sticky-user{
    transform: scale(1);
    transition: all 0.25s ease;
}
.sticky-user:hover{
    color: #1DB954;
    transform: scale(1.3);
}
.sticky-install{
    background-color: black;
    color: white;
}
.sticky-install:hover{
    color: #1DB954;
    background-color: black;
    border: 2px solid #1DB954;
}
.sticky-back{
    padding-right: 1rem;
}
.sticky-icons{
    transform: scale(1);
    transition: all 0.25s ease;
}
.sticky-icons:hover{
    color: #1DB954;
    transform: scale(1.2);
}

@media (max-width:1200px){
    .sticky-fore, .hide{
        display: none;
    }
}

/* Cards */

.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    background-color: #232323;
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    transform: scale(1);
    transition: all 0.25s ease;
}
.card:hover{
    transform: scale(1.1);
    border: 2px solid #1DB954;
}
.card-img{
    width: 100%;
    border-radius: 0.75rem;
}
.card-title{
    font-weight: 600;
}
.card-title:hover{
    color: #1DB954;
    text-decoration: underline 1px solid white ;
}
.card-info{
    font-size: 0.75rem;    
    opacity: 0.8;
}
h2{
    margin-left: 2rem;
    margin-top: 3rem;

}

/* Footer line */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0 15rem 0;
    line-height: 0rem;
    opacity: 0.7;
}
.line {
    width: 95%;
    border-top: 1px solid white;
    opacity: 0.5;
}
.heart-emoji{
    color: red;
    font-size: 1.5rem;
}
.my-name{
    font-weight: 600;
    opacity: 1;
    transition: all 0.25 ease;
}
.my-name:hover{
    transform: scale(1.2);
    color: #1DB954;
    opacity: 1;
    text-decoration: underline 1.5px solid white;

}



/* music player */

.music-player{
    display: flex;
    align-items: center;
    justify-content: center;
}
.album, .player, .controls{
    flex: 1;
}
.player{
    flex: 2;
}

/* player*/

.player-control-icon{
    height: 1.25rem;
    margin-right: 1.5rem;
    opacity: 0.7;
    transform: scale(1);
    transition: all 0.25s ease ;
}
.player-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.play-pause-icon{
    height: 2rem;
    opacity: 1;
}

.player-control-icon:hover{
    opacity: 1;
    transform: scale(1.1);
}

.playback-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar{
    width: 50%;
    appearance: none;
    border-radius: 20rem;
    margin: 1rem 0.5rem;
    transition: all 0.25s ease;
}

.progress-bar::-webkit-slider-runnable-track{
    height: 0.25rem;
    
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    margin-top: -0.42rem;
    background-color: #1DB954;
    border-radius: 50%;
}
.progress-bar:hover{
    padding: 0.125rem 0;
}
.progress-bar::-webkit-slider-thumb:hover{
    background-color: #232323;
    padding: 0.125rem;
}

/* Album */

.album{
    display: flex;
    justify-content: start;
    align-items: center;
}
.album-icons-img{
    height: 100%;
    margin-left: 2rem;
    border-radius: 0.75rem;
    transform: scale(1);
    transition: all 0.25s ease;
}
.music-info{
    margin: 0 1rem;
    margin-right: -1rem;
    line-height: 0.5rem;
}
.music-title{
    font-weight: 600;
}
.music-sub-title{
    font-size: 0.75rem;
    opacity: 0.75;
}
.playlist-icon{
    height: 2.25rem;
    width: 2.25rem;
    margin-left: 0.75rem;
    margin-top: 0.25rem;
}
.album-details{
    display: flex;
    justify-content: start;
    align-items: center;
}
.album-details:hover{
    text-decoration: solid underline white 1.5px;
    color: #1DB954;
}
.album-icons-img:hover{
    transform: scale(1.1);
    border: 2px solid #1DB954;
}
.heart-icon{
    opacity: 0.75;
}
.heart-icon:hover{
    background-color: red;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
}
.music-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.music-controls img{
    height: 3rem;
    margin:0 0.5rem;
    transform: scale(1);
    transition: all 0.25s ease;
}
.sound-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound-controls img{
    height: 3rem;
    transform: scale(1);
    transition: all 0.25s ease;
}
#ctrl-icon1{
    height: 1.5rem;
}
#ctrl-icon2{
    height: 1.5rem;
}
.music-controls img:hover{
    transform: scale(1.125);
}
.sound-controls img:hover{
    transform: scale(1.125);
}

.sound-bar{
    appearance: none;
    border-radius: 3rem;
}
.sound-bar::-webkit-slider-runnable-track{
    height: 0.25rem;
    transition: all 0.25s ease;
}
.sound-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    margin-top: -0.42rem;
    background-color: #1DB954;
    border-radius: 50%;
}
.sound-bar::-webkit-slider-thumb:hover{
    background-color: #232323;
    padding: 0.125rem;
}
.sound-bar::-webkit-slider-runnable-track:hover{
   padding: 0.25rem;
}